[data]
    name = {{ promptString "Name?" "Evelyn King" }}
    email = {{ promptString "Email?" "evelyn@evieking.com" }}
    signingkey = {{ promptString "Signing Key?" "08B79F9C4FA6D2E1" }}
    theme = {{ promptString "Color theme?" "gruvbox" }}
[cd]
    command = "bash"
    args = ["-i"]
