{{- $uvTarget := "" -}}
{{- $micromambaURL := "" -}}
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
{{- $uvTarget = "x86_64-unknown-linux-gnu" -}}
{{- $micromambaURL = "https://github.com/mamba-org/micromamba-releases/releases/latest/download/micromamba-linux-64.tar.bz2" -}}
{{- else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
{{- $uvTarget = "aarch64-apple-darwin" -}}
{{- $micromambaURL = "https://github.com/mamba-org/micromamba-releases/releases/latest/download/micromamba-osx-arm64.tar.bz2" -}}
{{- end }}
{{- if ne $uvTarget "" }}
[".local/bin"]
    type = "archive"
    url = "https://github.com/astral-sh/uv/releases/latest/download/uv-{{ $uvTarget }}.tar.gz"
    stripComponents = 1
    include = ["*/uv", "*/uvx"]
{{ end }}

{{- if ne $micromambaURL "" }}
[".local/bin/micromamba"]
    type = "archive-file"
    url = "{{ $micromambaURL }}"
    path = "bin/micromamba"
{{ end }}

[".config/emacs"]
    type = "git-repo"
    url = "https://github.com/doomemacs/doomemacs.git"
    clone.args = ["--depth", "1"]
    pull.args = ["--ff-only"]

[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
