{{- $ageIdentity := env "CHEZMOI_AGE_IDENTITY" | default (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt") -}}

AGENTS.md
CLAUDE.md
.mailmap
docs/**
LICENSE
README.md
scripts/**

{{- if eq (stat $ageIdentity) nil }}
.config/shell/extras.sh
{{- end }}
