[user]
  name = "{{ .name }}"
  email = {{ .email }}
  signingkey = {{ .signingkey }}
[gpg]
  format = openpgp
[init]
  defaultBranch = main
[core]
  editor = nvim
  autocrlf = false
[commit]
  gpgsign = true
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[rerere]
  enabled = true
  autoupdate = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

