{{- $host := get .hosts .chezmoi.hostname | default .hosts.default -}}
{{- $icas := get $host "icas" -}}
{{- if not $icas -}}
{{- fail (printf "hostname %q has no icas configuration; add an icas block for it in .chezmoidata/hosts.yaml" .chezmoi.hostname) -}}
{{- end -}}
{{- if $icas.home_relative }}
cache_folder = "{{ .chezmoi.homeDir }}/{{ $icas.cache_path }}"
work_folder = "{{ .chezmoi.homeDir }}/{{ $icas.work_path }}"
{{- else }}
cache_folder = "{{ $icas.cache_path }}"
work_folder = "{{ $icas.work_path }}"
{{- end }}
