[Desktop Entry]
Version=1.0
Name=Todoist
Comment=Todoist
Exec=omarchy-launch-webapp https://app.todoist.com/app
Terminal=false
Type=Application
Icon=todoist
StartupNotify=true
