[Desktop Entry]
Version=1.0
Name=Notion
Comment=Notion
Exec=omarchy-launch-webapp https://app.notion.com/
Terminal=false
Type=Application
Icon=notion
StartupNotify=true
