{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.hostname "gimli") (eq .chezmoi.hostname "maxwell")) -}}
{{ .chezmoi.homeDir }}/.config/omarchy/current/theme/btop.theme
{{- else if eq .chezmoi.os "darwin" -}}
{{ .chezmoi.homeDir }}/.config/themes/current/btop.theme
{{- end -}}
