{{- /* rustup template to create a target triple. */ -}}
{{- $cpu := "" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $cpu = "x86_64" -}}
{{- else if eq .chezmoi.arch "arm64" -}}
{{-   $cpu = "aarch64" -}}
{{- else -}}
{{-   fail (printf "unsupported architecture for rustup: %s" .chezmoi.arch) -}}
{{- end -}}
{{- $platform := "" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $platform = "unknown-linux-gnu" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $platform = "apple-darwin" -}}
{{- else -}}
{{-   fail (printf "unsupported OS for rustup: %s" .chezmoi.os) -}}
{{- end -}}
version = "12"
default_toolchain = "stable-{{ $cpu }}-{{ $platform }}"
profile = "default"

[overrides]
